@font-face {
    font-family: "IkeaFont" ;
    src: url(../font/IKEASans-Bold.ttf);
}
*{border: 1px solid green; box-sizing: border-box;}
body{
    margin: 0;
    overflow-x: hidden;
}
#navbar a{
    display: block;
}

#header{
    background-color: red;
    font-family: "IkeaFont";
    color: yellow;
    text-shadow: 5px 2px blue;
    position: sticky;
    top: -80px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    transition: .2s all linear;
    z-index: 9;
    padding-right: 0%;
}
#header span{
    transition: .2s all linear;
    font-size: 100px;
    position: relative;
}

html[data-scroll="1"] #header span{
    font-size: 30px;
    transition: .2s all linear;
    line-height: 200px;
}
html[data-scroll="1"] #header{
    padding-left: 10px;
    padding-right: 100%;
    transition: .2s all linear;
}



#navbar{
    background-color: yellow;
    position: sticky;
    top: 35px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    
}
.nav_opcion{
    display: inline-block;
    border: 1px solid black;
    flex: 1;
    text-align: center;
    margin: 7px 5px;
    box-shadow: 1px 1px 1px black;
    position: relative;
}
.multiple>ul{
    position: absolute;
    top: 0;
    background-color: green;
    width: 100%;
    border: 2px solid black;
    border-top: 0;
    padding: 0;

}
.multiple li{
    margin: 2px;
    width: 100%;
    list-style-type: none;
    text-align: left;
    background-color: aqua;
}
.oculto>ul{
    display: none;
}



#cuerpo{
    background-color: blue;
    height: 150vh;
}
#carousel{
    margin: auto;
    display: flex;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
}
#carousel img{
    height: 45vh;
    width: 45vh;
    position: relative;
    left: -0;
}
#carousel_controller{
    text-align: center;
    position: relative;
    top: -20px;
}


form input{
    display: block;
}




#decorador{
    background-color: violet;
    height: 1.8vh;
    font-weight: bold;
}
#footer{
    position: sticky;
    bottom: -8.7vh;
    background-color: green;
    min-height: 10vh;
    transition: all .1s linear;
}
#footer:hover{
    bottom: 0;
    transition: all .1s linear;
}

#footer>p{
    margin: 2px;
}