@font-face {
    font-family: "IkeaFont" ;
    src: url(../font/IKEASans-Bold.ttf);
}
/* *{border: 1px solid green; box-sizing: border-box;} */
body{
    margin: 0;
    overflow-x: hidden;
    background-color: lightblue;
    min-height: 100vh;
}
#navbar a{
    display: block;
}

#header{
    /* background-color: red; */
    background-image: url(https://media.revistaad.es/photos/62b2389fcb047658901833aa/16:9/w_2560%2Cc_limit/GettyImages-998587132.jpg);
    font-family: "IkeaFont";
    color: yellow;
    text-shadow: 5px 2px blue;
    position: sticky;
    top: -80px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    transition: .2s all linear;
    z-index: 9;
    padding-right: 0%;
}
#header span{
    transition: .2s all linear;
    font-size: 100px;
    position: relative;
}

html[data-scroll="1"] #header span{
    font-size: 30px;
    transition: .2s all linear;
    line-height: 200px;
}
html[data-scroll="1"] #header{
    padding-left: 10px;
    padding-right: 100%;
    transition: .2s all linear;
}



#navbar{
    background-color: yellow;
    position: sticky;
    top: 35px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    
}
.nav_opcion{
    display: inline-block;
    border: 1px solid black;
    flex: 1;
    text-align: center;
    margin: 7px 5px;
    box-shadow: 1px 1px 1px black;
    position: relative;
}
.multiple>ul{
    position: absolute;
    top: 0;
    background-color: red;
    width: 99%;
    border: 2px solid black;
    border-top: 0;
    padding: 0;
}
.multiple li{
    margin: 1px;
    width: 99%;
    list-style-type: none;
    text-align: left;
    background-color: yellow;
    text-align: center;
}
.oculto>ul{
    display: none;
}

.agotado{
    color: red;
}
.bien{
    background-color: green;
}
.mal{
    background-color: red;
}
.container{
    display: block;
}
.container > div{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.container > div>img{
    width: 100%;
}
#form_container>div{
    display: flex;
    justify-content: space-evenly;
    
}


#app_producto{
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: fit-content;
    background-color: white;
}
#app_producto img{
    height: 250px;
}
#app_producto .info{
    margin-left: 10px;
}



#app_about{
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
    width: 800px;
    margin: auto;
    margin-bottom: 250px;
}



#cuerpo{
    background-color: lightblue;
    height: auto;
}
#carousel{
    margin: auto;
    margin-top: 10px;
    display: flex;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
}
#carousel img{
    height: 45vh;
    width: 45vh;
    position: relative;
    left: -0;
}
#carousel_controller{
    text-align: center;
    position: relative;
    top: -20px;
}



form{
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    padding-bottom: 55px;
}
form input{
    display: block;
    width: 95%;
    margin: auto;
}
form button{
    width: 95%;
    margin-top: 5px;
    position: absolute;
    bottom: 5px;
}
#cuenta_usuario{
    position: fixed;
    top: -0;
    right: 0;
    z-index: 999;
    background-color: white;
}


#app_carrito{
    margin-bottom: 20px;
    margin-top: -250px;
}
#app_carrito h1{
    text-align: center;
}
#app_carrito p{
    text-align: center;
}
.producto_carrito{
    width: 30vh;
    margin: auto;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
}
.producto_carrito button{
    width: 100%;
}
.producto_carrito input{
    width: 50px;
}
.producto_carrito img{
    width: 100%;
}
#precio_total{
    text-align: center;
    font-weight: bold;
}
#botones{
    text-align: center;
}

#decorador{
    height: 1.8vh;
    font-weight: bold;
    border-top: 2px solid black;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: medium;
    background-image: url(https://masterwall.com.au/wp-content/uploads/2021/01/MarbleCoarse_IMG_3821_thumb2-1.jpg);
}
#footer{
    position: sticky;
    bottom: -9vh;
    background-color: rgb(148, 85, 2);
    min-height: 12vh;
    transition: all .1s linear;
    color: black;
    margin-top: 150px;
}
#footer:hover{
    bottom: 0;
    transition: all .1s linear;
}

#footer>p{
    margin: 2px;
}
#cuerpo{
    margin-bottom: 150px;
}